%table.table
  %thead
    %tr
      %th
        Lp
      %th
        Date
      %th
        Category
      %th
        Description
      %th
        Income
      %th
        Name
  %tbody
    - incomes.each_with_index do |inc, i|
      %tr
        %td
          = i + 1
        %td
          = inc.income_money
        %td
          = inc.category
        %td
          = inc.description
        %td
          = inc.income_money
        %td
          = inc.user.name
